.container {
    width: 100%;
    min-height: calc(100vh - 60px);
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 50px 10px;
    .wrapper {
        min-width: 500px;
        padding: 30px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 0px 7px 0.4px #7f8c8d;
        
        @media screen  and (min-width:1600px){
            min-width:600px;
        }
        @media screen  and (max-width:600px){
            min-width:90%;
            padding: 10px;
        }
        
        h2 {
            text-align: center;
            border-bottom: 2px solid #34495e;
            color: #ecf0f1;
            padding: 5px;
        }
        .add {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px;
          
            input {
                flex: 7;
                padding: 10px;
                outline: none;
                border: none;
                border-radius: 5px;
                background-color: #34495e;
                color: whitesmoke;
                margin: 10px 10px 10px 0;
                width: auto;
                &::placeholder {
                    color: rgb(207, 207, 207);
                }
                &:hover,
                &:focus {
                    background-color: #7f8c8d;
                }
            }
            .addBtn,.update {
                cursor: pointer;
                flex: 2;
                outline: none;
                border: none;
                font-weight: 900;
                background-color: #2c3e50;
                color: #ecf0f1;
                padding: 10px;
                box-shadow: 0px 0px 1px 0.251px #ecf0f1;
                &:hover {
                    background-color: #34495e;
                }
            }
            .update {
                transform: scaleX(0.9);
            }
        }
        .task {
            margin: 10px 0px ;
            height: min-content;
            max-height: 200px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 2px;
            }
            &::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: 2px;
            }
            div {
                span{
                    
                    color: #ecf0f1;
                }
                height: min-content;
                color: #ecf0f1;
                transition: all 0.31s ease-in-out;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding: 5px 10px;
                border-radius:5px;
                p {
                    flex: 7;
                    padding: 5px 0px;
                    text-align: justify;
                    word-break: break-all;
                    border-bottom: .2px solid #bdc3c7;
                }
                .iconContainer {
                    flex: 3;
                    .icon {
                        outline: none;
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                        
                        .edit {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            width: 32px;
                            height: 32px;
                            color: white;
                            background-color: #2980b9;
                        }
                        .cancel {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                           
                            border-radius: 50%;
                            width: 32px;
                            height: 32px;
                            color: white;
                            background-color: #c0392b;
                        }
                        .done {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            width: 32px;
                            height: 32px;
                            color: white;
                            background-color: #27ae60;
                        }
                        &:hover {
                            background-color: transparent;
                            transform: scale(1.1);
                        }
                    }
                }
                &:hover {
                    box-shadow: 0px 0px 0.1px 0.1px rgb(2, 117, 121);
                    background-color: white;
                    color: #2c3e50;
                    span{
                        color: #2c3e50;
                    }
                }
            }
        }
        .exit {
            .remove {
                font-weight: 600;
                background-color:#8e44ad;
                color: white;
                border: none;
                outline:none;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    background-color: #c0392b;
                    box-shadow: 0px 0px 0.1px 0.1px red;
                   
                }
            }
            
        }
    }
}
