@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Beau Rivage', cursive;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #3d3d3d;
}